{% block table %}
<table id="{{id}}"{% if classes %} class="{{classes}}"{% endif %}>
  <tbody>
  <tr>
  {% for field in fields %}
  <th>{{field | title }}</th>
  {% endfor %}
  </tr>
{% for pk, row in rows  %}
<tr id="{{id}}_{{pk}}">
  {% for cell in row %}
  <td>{%if cell != None %}{{cell}}{% endif %}</td>
  {% endfor %}
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock table %}
{% block script %}
<script type="text/javascript">
$(document).ready(function() {
  Telegraphy.utils.manageTable({{js_context | safe}});
});
</script>
{% endblock script %}
