<ul id="{{id}}"{% if classes %} class="{{classes}}"{% endif %}>
{% for model, content in models.iteritems %}
  <li id="{{id}}_{{model.pk}}">{{content}}</li>
{% endfor %}
</ul>

<script type="text/javascript">
  (function(Telegraphy) {
    /**
     * Add functions to telegrapy
     */
    Telegraphy.subscribe("{{event.name}}").onAny(function (event) {
      var baseId = "{{id}}",
          element = document.getElementById(baseId + "_" + event.data.pk);
          console.log(event);
          element.textContent = Telegraphy.utils.supplant("{{js_format|safe}}", event.data);
    });
  })(Telegraphy);
</script>
