{% extends "telegraphy_demo/base.html" %}
{% load telegraphy_tags %}

      {% block extraheader %}
      <style>
         .container h1 {
            background-image: url('{{ STATIC_URL }}telegraphy/img/logo.png');
            background-repeat: no-repeat;
            padding-left: 60px;
         }
      </style>
      <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
      <script>
         // Globals, soon to be namespaced under telegraphy
         var SESS = null;
         var TOKEN = "{% auth_token %}";
         var WS_URL = "{% telegraphy_ws_url %}";
         var WS_NAMESPACE = "{% telegraphy_event_prefix %}";
         /**
          * WAMP uses full urls for events
          */
         $(function () {
            /** Libraryfunc */
            function getEventName(name) {
               return WS_NAMESPACE + name;
            }

            function onSystemEvent(topic, event){
               console.log("Event!", topic, event);
               var name = topic.slice(topic.indexOf('#')+1);
               var $event_anchor = $('<a/>').text(name);
               var event_data = window.JSON.stringify(event);
               $event_anchor.data('event_data', event_data);
               $event_anchor.attr('title', 'Data:'+event_data);
               $event_anchor.bind('click', showEventData);
               $('#event-logs').append($('<li/>').append($event_anchor));

            }

            function showEventData () {
               var event_data = $(this).data('event_data');
               var $dlg = $('<div/>').dialog({
                  autoOpen: false,
                  close: function () { $(this).dialog('destroy')},
               });
               $dlg.html('<pre>'+event_data+'</pre>');
               $dlg.dialog('open');
            }


            // On load
            function onConnectSuccess(session){
               SESS = session;
               console.log("Connected with", session);
               var eventName = getEventName('system');
               console.info("Subscribe to...", eventName);
               SESS.subscribe(eventName, onSystemEvent);
            }

            function onConnnectError(code, reason){
               if (code == ab.CONNECTION_UNSUPPORTED) {
                  window.location = "http://autobahn.ws/unsupportedbrowser";
               } else {
                  console.log("Code", code, "Reason", reason);
                  $('#status').text("Error. Telegraphy server running?");
               }
            }

            function formToObject(form) {
               var result = {};
               $.each($(form).serializeArray(), function(i, o) {
                  result[o['name']] = o['value'];
               });
               return result;
            }


            function showSendCustomEventDialog(){
                  var $dlg = $('<div/>').dialog({
                  buttons: [
                     {
                        text: "Send!",
                        click: function (){
                           var formData = formToObject($(this).find('form')),
                               eventName = formData['event'];
                           if (!eventName){
                              alert("Can't send empty event");
                              return;
                           }
                           // Make RPC call to send event
                           var call = SESS.call('http://telegraphy.machinalis.com/rpc#publish',
                                                eventName, {'a':1, 'b': 2});
                           call.then(function (){
                              console.info("RPC Event: OK", arguments)
                           },
                           function () {
                              console.error("RPC Event: ERROR", arguments);
                           })

                        }
                     }
                  ],
                  autoOpen: false,
                  close: function (){
                     $(this).dialog('destroy');
                  }
               });
               $dlg.html($('#event_data_form form').clone());
               $dlg.dialog('open');
            }
            /**
             *
             */
            function currentSubscriptions(connection) {

            }
            /*
             *
             *
             */
            function subscribeToCustomEvent() {
               var $dlg = $('<div></div>').dialog({
                  title: "Subscribe to custom events",
                  buttons: [
                     {
                        text: "Subscribe",
                        click: function () {
                           var event_text = $dlg.find('form input').val();
                           var event_name = getEventName(event_text);

                           SESS.subscribe(event_name, onSystemEvent);
                           $dlg.dialog('close');
                        }
                     }

                  ],
                  autoOpen: false,
                  close: function () {
                     $(this).dialog('destroy');
                  }
               });
               var markup = $('<form/>');
               markup.append($('<legend/>').text("Event will be automatically sent within 2 seconds"));
               var ul = $('<ul>');
               $.each(SESS._subscriptions, function (k, v){
                  console.log("Showing subscription", k);
                  var text = k.slice(k.lastIndexOf('/')+1);
                  ul.append($('<li>').text(text));
               });
               markup.append(ul);
               markup.append($('<input placeholder="Event Name..." name="event_name">'));
               $dlg.html(markup);
               $dlg.dialog('open');
            }

            function clearLogs () {
               $('#event-logs').find('li').remove();
            }

            $('#send_custom_events').bind('click', showSendCustomEventDialog);
            $('#subscribe_custom_event').bind('click', subscribeToCustomEvent);
            $('#clear_log').bind('click', clearLogs);

            // Connection
            var autobahnConnectionOptions = {
               maxRetries: 100,
               retryDelay: 1000
            }
            ab.connect(WS_URL, onConnectSuccess, onConnnectError, autobahnConnectionOptions);
         });

      </script>
      {% endblock extraheader %}

      {% block content %}


         <h1>Telegraphy Test Bench</h1>
         <noscript>
            <span style="color: #f00; font-weight: bold;">
               You need to turn on JavaScript.
            </span>
         </noscript>
         <div>

         </div>
         <p class="lead">
            Status: <span class="" id="status">Authenticating...</span>
         </p>
         <div class="well">
            <button id="send_custom_events" type="button" class="btn btn-default">
               <span class="glyphicon glyphicon-bullhorn"></span>
               Send Custom Events
            </button>
            <button id="subscribe_custom_event" type="button" class="btn btn-default">
               <span class="glyphicon glyphicon-pushpin"></span>
               Subscribe to custom event
            </button>
            <button id="clear_log" type="button" class="btn btn-default">
               <span class="glyphicon glyphicon-trash"></span>
               Clear Log
            </button>
         </div>
         <!-- Logging -->
         <h3>Event Log</h3>
         <ul id="event-logs">

         </ul>
         <!-- Form to copy -->
         <div style="display: none;" id="event_data_form">
            <form>
            Event name: <input placeholder="Event name" name="event">
            Data: <textarea name="data" id="" cols="30" rows="10" placeholder="Data">
            </textarea>
            </form>
         </div>
         {% endblock content %}
