{% extends "telegraphy_demo/base.html" %}
{% block title %}
Welcome to telegraphy
{% endblock title %}
{% block content %}

        <h1>Welcome to Telegraphy demo app</h1>
        <p>
            We've bundled some examples to understand what you can do with
            telegraphy in your projects.</p>
        <h2>Available demos</h2>
        <ul>
            <li><a href="./simple">A simple example</a></li>
        </ul>
        <ul>
            <li><a href="./change_tracker/">Track model changes</a></li>
        </ul>
        <h2> Realtime UI components </h2>
        <ul>
            <li><a href="./ui/label">Label</a></li>
        </ul>
        <ul>
            <li><a href="./ui/rt_ul">Unsorted List</a></li>
        </ul>
        <ul>
            <li><a href="./ui/rt_table">Table</a></li>
        </ul>


        <h2>Documentation</h2>
        <p>
            Find out more about Telegraphy at
            <a href="http://telegraphy.readthedocs.org/en/latest/">Read the docs</a>
        </p>
        <h2>Contributions</h2>
        <p>
            If you find some bug or you'd like to contribute some feature
            visit telegraphy <a href="https://github.com/machinalis/telegraphy">
                Github project
            </a>
        </p>
{% endblock content %}
