<html>
    <head>
        <title>Welcome to telegraphy</title>

    </head>
    <body>
        <h1>Welcome to Telegraphy demo app</h1>
        <p>
            We've bundled some examples to understand what you can do with
            telegrephy in your projects.</p>
        <h2>Available demos</h2>
        <ul>
            <li><a href="./simple">A simple example</a></li>
        </ul>
        <ul>
            <li><a href="./change_tracker/">Track model changes</a></li>
        </ul>

        <h2>Documentation</h2>
        <p>
            Find out more about Telegraphy at
            <a href="http://telegraphy.readthedocs.org/en/latest/">Read the docs</a>
        </p>
        <h2>Contributions</h2>
        <p>
            If you find some bug or you'd like to contribute some feature
            visit telegraphy <a href="https://github.com/machinalis/telegraphy">
                Github project
            </a>
        </p>
    </body>

</html>