<!DOCTYPE html>
{% load telegraphy_tags %}
<html>
   <head>
      <title>Telegraphy Authentication Test</title>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

      {% telegraphy_scripts %}

      <script>
         // WAMP session object
         var sess = null;
         var token = "{% auth_token %}";

         window.onload = function() {

            var wsuri;
            if (window.location.protocol === "file:") {
               wsuri = "ws://localhost:9000";
            } else {
               wsuri = "ws://" + window.location.hostname + ":9000";
            }

            // connect to WAMP server
            ab.connect(wsuri,

               // WAMP session was established
               function (session) {

                  sess = session;

                  console.log("Connected to " + wsuri);
                  test();
               },

               // WAMP session is gone
               function (code, reason) {

                  sess = null;

                  if (code == ab.CONNECTION_UNSUPPORTED) {
                     window.location = "http://autobahn.ws/unsupportedbrowser";
                  } else {
                     console.log(reason);
                  }
               }
            );
         };

         function test() {

            // Call a remote procedure
            //
            if (token.indexOf('ERROR') == 0) {
              alert(token);
              return;
            }
            sess.call("http://localhost:9000/telegraphy#authenticate", token, null).then(
               function (res) {
                  // RPC returned successfully
                  console.log("Authenticate result: " + res);
                  $('#status').text('Authenticated!');
               },
               function (error) {
                  // An error occured:
                  //    error.uri      : The URI of the error
                  //    error.desc     :  Human readable, for developers and logging
                  //    error.details  :  Any error details (optional)
                  console.log("Authenticate error: " + error.desc);
               }
            );

            // Call a remote procedure, and a 2nd one with the result of the first
            //
            sess.call("http://example.com/simple/calc#sub", 15, 5).then(
               function (res) {
                  // call a remote procedure
                  sess.call("http://example.com/simple/calc#mul", res, res).then(
                     function (res) {
                        console.log("RPC result: " + res);
                     }
                  );
               }
            );
         };
      </script>
   </head>
   <body>
      <div class="container">
      <h1>Telegraphy Authentication test</h1>
      <noscript>
         <span style="color: #f00; font-weight: bold;">
            You need to turn on JavaScript.
         </span>
      </noscript>
      <p>
         Status: <span id="status">Authenticating...</span>
      </p>
      </div>
   </body>
 </html>
