{% extends "telegraphy_demo/base.html" %}
{% load telegraphy_ui %}
{% block title %}
Realtime Table example
{% endblock title %}
{% block content %}
<h1> Table examples </h1>
<div class='row'>
  <div class="col-md-12">
    <h2> Unfiltered Table </h2>
  </div>
  <div class='row'>
    <div class="col-md-4">
      <p>
      This table shows all existent models, and add new ones on bottom
      </p>
      <div class="alert alert-info">
        <span class="glyphicon glyphicon-info-sign"></span>
        Try loading the same page on other tab, you will see the rows updating
      </div>
    </div>
    <div class="col-md-8">
      {% rt_table model_class=model_class fields=fields classes="table table-striped table-hover table-bordered"%}
    </div>
  </div>
  <div class="col-md-12">
    <h2> Filtered Table </h2>
  </div>
  <div class='row'>
    <div class="col-md-4">
      <p>
      Shows all existent models that pass some condition, and add new ones (that pass the condition) on bottom.
      </p>
    </div>
    <div class="col-md-8">
      {% rt_filtered_table model_class=model_class filter=filter fields=fields classes="table table-striped table-hover table-bordered"%}
    </div>
  </div>
  <div class="col-md-12">
    <h2> Excluded Table </h2>
  </div>
  <div class='row'>
    <div class="col-md-4">
      <p>
      Shows all existent models that doesnt pass some condition, and add new ones (that also, doesn't pass the condition) on bottom.
      </p>
    </div>
    <div class="col-md-8">
      {% rt_excluded_table model_class=model_class filter=filter fields=fields classes="table table-striped table-hover table-bordered"%}
    </div>
  </div>
  
  <div class="col-md-12">
    <h2> Fixed Table </h2>
  </div>
  <div class='row'>
    <div class="col-md-4">
      <p>
      Shows only updates and deletions of provided models.
      </p>
    </div>
    <div class="col-md-8">
      {% rt_fixed_table models=models fields=fields classes="table table-striped table-hover table-bordered"%}
    </div>
  </div>

{% endblock content %}
