<!DOCTYPE html>
{% load telegraphy_tags %}
{% load static %}
<html>
   <head>
      <title>
         {% block title %}
            {% if title %}{{title}}{%else%}Telegraphy{%endif%} | Message Desk
         {% endblock title %}
      </title>
      <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
      {% telegraphy_scripts %}

      <!-- Script area-->
      {% block extraheader %}
      {% endblock extraheader %}
   </head>
   <body>
      <div class="container">
         {% block content %}
            <h1>Content goes here</h1>
         {% endblock content %}
      </div> <!-- Container -->
   </body>
 </html>
